openapi: 3.0.3
info:
  title: Dokumen API PortSafe+ Backend - Fahira - OpenAPI 3.0
  description: >-
    Backend yang digunakan untuk aplikasi pelaporan observasi K3 
  termsOfService: https://github.com/jscroot/examples/tree/main/api/swagger
  contact:
    email: fahira1678@gmail.com
  license:
    name: Port Package
    url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
servers:
  - url: https://asia-southeast2-ordinal-stone-389604.cloudfunctions.net
tags:
  - name: Register
    description: Register to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
  - name: Login
    description: Get Token and Authorize
paths:
  /PortRegister:
    post:
      tags:
        - Register
      summary: Register get account
      description: Register and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Register'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
  /PortLogin:
    post:
      tags:
        - Login
      summary: Login user 
      description: Get Token and Authorize
      operationId: auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login' # Gunakan skema yang sesuai di sini
      responses:
        '201':
          description: Data successfully login
        '400':
          description: Invalid input or request body
  /CreateReport:
    post:
      tags:
        - Reporting
      summary: Create Reporting Data
      description: Create Reporting data
      operationId: Create Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReport' # Gunakan skema yang sesuai di sini
      responses:
        '201':
          description: Data successfully Create
        '400':
          description: Invalid input or request body
      security:
        - token: []
components:
  schemas:   
    Register:
      type: object
      properties:
        Nipp:
          type: string
          example: "1204044"
        Nama:
          type: string
          example: "Fahira"
        Jabatan:
          type: string
          example: "Vice President"
        Divisi:
          type: string
          example: "Perencanaan Strategi"
        Bidang:
          type: string
          example: "Kinerja Perusahaan"  
        Password:
          type: string
          example: mawar123
    Login:
      type: object
      properties:
        nipp:
          type: string
          example: "1204044"
        password:
          type: string
          example: mawar123 
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy      
    CreateReport:
        type: object
        properties:
          Reportid:
            type: int
            example: "0000-K3-001"
          Date:
            type: string
            example: "2023-11-18"
          Supervisorid:
            type: int
            example: 101
          SupervisorName:
            type: string
            example: Budi Santoso
          SupervisorPosition:
            type: string
            example: Supervisor Keselamatan
          IncidentLocation:
            type: string
            example: Branch Belawan
          Description:
            type: string
            example: Pada tanggal ini, terjadi insiden kecil di gudang barang. Seorang pekerja menabrak rak penyimpanan, menyebabkan beberapa barang jatuh.
          ObservationPhoto:
            type: string
            example: observasi.jpg
          PeopleReactions:
            type: string
            example: Jatuh ke Lantai
          PPE:
            type: string
            example: Kepala
          PersonPosition:
            type: string
            example: Terjatuh
          Equipment:
            type: string
            example: Tidak Sesuai Dengan Jenis Pekerjaan
          WorkProcedure:
            type: string
            example: Tidak Memenuhi
          Area:
            type: string
            example: Gudang
          ImmediateAction:
            type: string
            example: Tim darurat segera membersihkan area dan mengevaluasi cedera. Pekerja yang terlibat segera mendapatkan pertolongan medis.
          ImprovementPhoto:
            type: string
            example: perbaikan.jpg
          CorrectiveAction:
            type: string
            example: Akan dilakukan pelatihan tambahan untuk operator forklift dan peninjauan ulang prosedur pemindahan barang.
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
