openapi: 3.0.3
info:
  title: Dokumen API PortSafe+ Backend - Fahira - OpenAPI 3.0
  description: >-
    Backend yang digunakan untuk aplikasi pelaporan observasi K3 
  termsOfService: https://github.com/jscroot/examples/tree/main/api/swagger
  contact:
    email: fahira1678@gmail.com
  license:
    name: Port Package
    url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
servers:
  - url: https://asia-southeast2-ordinal-stone-389604.cloudfunctions.net
tags:
  - name: Register
    description: Register to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
  - name: Login
    description: Get Token and Authorize
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Fancypedia/fancybackenddd
paths:
  /PortRegister:
    post:
      tags:
        - Register
      summary: Register get account
      description: Register and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /PortLogin:
    post:
      tags:
        - Login
      summary: Login pengguna
      description: Dapatkan Token dan Otorisasi berdasarkan peran pengguna
      operationId: auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '201':
          description: Data berhasil login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Input tidak valid atau badan permintaan tidak sesuai
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:   
     Login:
      type: object
      properties:
        username:
          type: string
          example: petped
        password:
          type: string
          example: secret
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy
        role:
          type: string  # Sesuaikan tipe data dengan yang sesuai dengan peran
          example: admin  # Ganti dengan nilai peran yang sesuai
        role_message:
          type: string
          example: "Selamat datang, Anda berhasil login sebagai admin"  # Ganti dengan pesan sesuai dengan peran
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
