openapi: 3.0.3
info:
  title: Dokumen API PortSafe+ Backend - Fahira - OpenAPI 3.0
  description: >-
    Backend yang digunakan untuk aplikasi pelaporan observasi K3 
  termsOfService: https://github.com/jscroot/examples/tree/main/api/swagger
  contact:
    email: fahira1678@gmail.com
  license:
    name: Port Package
    url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/PortSafe-Apps/portsafebackend
servers:
  - url: https://asia-southeast2-ordinal-stone-389604.cloudfunctions.net
tags:
  - name: users
    description: Pengelolaan Data User
  - name: auth
    description: Auth to Access to API
  - name: report
    description: Auth to Access to API
paths:
  /PortRegister:
    post:
      tags:
        - users
      summary: Register User Without Token
      description: Daftar Akun User
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Register'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
  /GetUserWithToken:
    get:
      tags:
        - users
      summary: Get Data User Khusus Admin
      description: Header auth for admin only
      operationId: GetdataUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/responseUser'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey
  /deleteuser:
    delete:
      tags:
        - users
      summary: delete Khusus Admin
      description: Header auth for admin only
      operationId: DeleteUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReqUsers'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cred'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey
  /PortLogin:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
  /InsertDataEmployee:
    post:
      tags:
        - report
      summary: Insert data Report
      description: Header auth for admin and User
      operationId: InsertdataReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseReport'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey
  /one-report:
    post:
      tags:
        - report
      summary: Get Data Report by reportid
      description: Header auth for admin and User
      operationId: GetOneReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestReport'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseReport'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey
  /get-all-report:
    get:
      tags:
        - report
      summary: Get data report
      description: Header auth for admin and user
      operationId: GetDataReport
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey
  /updatedatareport:
    put:
      tags:
        - report
      summary: Update data report
      description: Header auth for admin and User
      operationId: Updatedatareport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseReport'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey       
  /delete-report:
    delete:
      tags:
        - report
      summary: delete data report
      description: Header auth for admin and User
      operationId: Deletedatareport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestReport'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cred'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey
components:
  schemas:   
    Register:
      type: object
      properties:
        nipp:
          type: string
          example: "1204044"
        nama:
          type: string
          example: "Fahira"
        jabatan:
          type: string
          example: "Vice President"
        divisi:
          type: string
          example: "Perencanaan Strategi"
        bidang:
          type: string
          example: "Kinerja Perusahaan"  
        password:
          type: string
          example: mawar123
    Login:
      type: object
      properties:
        nipp:
          type: string
          example: "admin123"
        password:
          type: string
          example: portsafe 
    Response:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: Berhasil Input data
    responseUser:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: berhasil ambil data
        data:
          type: object
          properties:
            username:
              type: string
              example: "1204044"
            password:
              type: string
              example: hashed password
            role:
              type: string
              example: user
    ResponseBack:
          type: object
          properties:
            Status:
              type: integer
              format: int32
            Message:
              type: string
            Data:
              type: array
              items:
                type: string     
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy      
    ResponseReport:
      type: object
      properties:
        Status:
          type: integer
          format: int32
        Message:
          type: string
        Data:
          $ref: '#/components/schemas/Report'
    Cred:
      type: object
      properties:
        Status:
          type: integer
          format: int32
        Message:
          type: string
    RequestReport:
      type: object
      properties:
        Reportid:
          type: string
    ReqUsers:
      type: object
      properties:
        Username:
          type: string
    Report:
        type: object
        properties:
          Reportid:
            type: int
            example: "0000-K3-001"
          Date:
            type: string
            example: "2023-11-18"
          Account:
            $ref: '#/components/schemas/Register'
          Location:
            $ref: '#/components/schemas/Location'
          Description:
            type: string
            example: Pada tanggal ini, terjadi insiden kecil di gudang barang. Seorang pekerja menabrak rak penyimpanan, menyebabkan beberapa barang jatuh.
          ObservationPhoto:
            type: string
            example: observasi.jpg
          TypeDangerousActions:
            $ref: '#/components/schemas/TypeDangerousActions'
          Area:
            $ref: '#/components/schemas/Area'
          ImmediateAction:
            type: string
            example: Tim darurat segera membersihkan area dan mengevaluasi cedera. Pekerja yang terlibat segera mendapatkan pertolongan medis.
          ImprovementPhoto:
            type: string
            example: perbaikan.jpg
          CorrectiveAction:
            type: string
            example: Akan dilakukan pelatihan tambahan untuk operator forklift dan peninjauan ulang prosedur pemindahan barang.
    Location:
      type: object
      properties:
        LocationId:
          type: integer
        LocationName:
          type: string
    TypeDangerousActions:
        type: object
        properties:
          TypeId:
            type: integer
            format: int32
          TypeName:
            type: string
          SubTypes:
            type: array
            items:
              type: string
    Area:
      type: object
      properties:
        AreaId:
          type: integer
        AreaName:
          type: string      
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    Login:
      type: apiKey
      name: Login
      in: header
